body {
  font-family: "Roboto", sans-serif;
}

.container1-title {
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.services-title, .ourTeam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.start-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.start-text-logo {
  width: 160px;
  height: auto;
}

.start-text > nav {
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.start-text-menu {
  cursor: pointer;
  line-height: 1.4;
}

.start-text-menu:hover {
  color: #2196F3;
}

.start-text-contacts {
  display: flex;
  gap: 4px;
  color: #949393;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.5;
}

.start-text-contacts:hover {
  color: #2196F3;
}

.container1 {
  background-color: #2F303A;
}

.container1-button {
  color: #fff;
  background-color: #2196F3;
  padding: 15px 20px;
  border-radius: 4%;
  font-weight: 700;
  font-size: 16px;
  border: none;
  transition: 0.2s;
  position: relative;
  top: -90px;
  right: -548px;
  cursor: pointer;
}

.container1-button:hover {
  background-color: #2789d8;
}

.services-img {
  max-width: 100%;
  height: auto;
}

.team-member-photo {
  display: block;
  margin-bottom: 5px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.team-member-role {
  font-weight: 500;
  font-size: 16px;
  color: #757575;
  line-height: 1.4;
}

.footer {
  background-color: #2F303A;
  color: #fff;
  padding: 20px;
}

.footer-Studiologo {
  display: block;
  margin-bottom: 10px;
}

.footer-email, .footer-phone {
  color: #949393;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
