body{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.studiotext{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.studiotext:hover{
  color: #2196F3;
}

h1{
  font-weight: 900;
  font-size: 37px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.button{
  color: #fff;
  background-color: #2196F3;
  padding: 15px 20px;
  border-radius: 4%;
  transform: none;
  font-weight: 700;
  font-size: 17px;
  border: none;
  transition: 0.2s;

  position: relative;
  top: -90px;
  right: -614px;
}

.button:hover{
    background-color: #2789d8;
    transition: 0.2s;
}

.start-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studioimg{
  width: 160px;
  height: auto;
}

.menu{
  display: flex;
  gap: 30px;
}

.contacts{
  display: flex;
  gap: 4px;
}

.container1{
  background-color: #2F303A;
}